<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{getMeteorModuleId}} - {{getModuleTitle}}</h1>
{{#getSimilarModules}}
    <div>
        {{getMeteorModuleId}} - {{getModuleTitle}}: {{getSimilarity}}
    </div>
    <hr>
{{/getSimilarModules}}
</body>
</html>